baseURL = 'https://example.org/'
languageCode = 'en-us'
title = 'Neeraj Writes'

theme = 'x-min'


[menu]

  [[menu.main]]
  name = "Home"
  url = "/"
  weight = 1

  [[menu.main]]
  name = "About"
  url = "about/"
  weight = 2

